table {
  font-family: arial, sans-serif;
  width: 100%;
}
td,
th {
  border: 1px solid #eee;
  text-align: center;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #eee;
}
th {
  background-color: #eee;
}
img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
div {
  text-align: center;
}
